@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
            transform: rotate(2deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
            transform: rotate(-2deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
            transform: rotate(2deg) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes open {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes open {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@-webkit-keyframes openBack {
  0 {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes openBack {
  0 {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
body,
html {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}
.hongbao {
  width: 300px;
  height: 453.33px;
  position: relative;
  top: 0;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(../images/open-no.png);
  background-repeat: no-repeat;
  background-position: center 120px;
  background-size: auto 333.33px;
}
.hongbao .open-btn {
  display: block;
  position: absolute;
  width: auto;
  height: 5rem;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(200px);
  -webkit-animation: open 0.2s linear 0.5s infinite alternate;
          animation: open 0.2s linear 0.5s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 10;
  cursor: pointer;
}
.hongbao .open-top {
  display: block;
  position: absolute;
  height: 120px;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}
.hongbao .open-back {
  display: block;
  position: absolute;
  width: auto;
  height: 120px;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  opacity: 0;
}
.hongbao .open-back.open-on {
  -webkit-animation: openBack linear .5s forwards;
          animation: openBack linear .5s forwards;
}
.hongbao.shake {
  animation: shake .2s infinite linear;
  -webkit-animation: shake .2s infinite linear;
}
