<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;">
					<section style="display: inline-block;margin: 0px auto;text-align: center;font-size: 0px;">
						<p style="display:inline-block;margin: 0px auto;text-align: center;font-size: 24px;line-height: 1.5;padding: 2px 10px;">
							不可言喻的优雅
						</p><span style="display: inline-block;width: 100%;height:1px;background-color: #000;margin: 0px auto;"><em style="display: inline-block;width: 8px;height: 8px;border-radius:50%;background-color: #333;float: left;margin-top: -4px;"></em><em style="display: inline-block;width: 8px;height: 8px;border-radius:50%;background-color: #333;float: right;margin-top: -4px;"></em></span>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="margin:0px auto;text-align: center;background-image: url(../../upload/141416f7204641be90908d974032207e6f4d5f.png);background-size:290px auto;background-repeat: no-repeat;background-position: right bottom;">
					<section style="margin:0px auto;text-align: center;padding: 25px 15px;background-image: url(../../upload/14141610b5f0176ccd67b5ee31f9bfdae36d5d.png);background-size:290px auto;background-repeat: no-repeat;background-position: left top;">
						<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; padding: 2px 10px; text-align: left; color: rgb(11, 6, 6); text-indent: 2em;">
							从我设计、制作婚纱这么多年以来，因为我的设计作品，结识了许多美丽的新娘，而在项目过程中，又见证了很多美好的爱情故事，经历和见证了无数新人与家人间的幸福、关爱、信任、理解，还有新娘和闺蜜的友情等等美好，这一切也是我们人生最美好的存在。这份工作给我带来了很强的幸福感和满足感，没有任何理由不继续下去。我作为婚纱礼服设计师，只能从视觉美感上赋予作品含义；而我的新娘和她爱的人以及爱她的人，却能赋予婚纱一种特殊含义，那是满满的爱和深情。
						</p>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>