<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="margin: 10px 0px; padding: 0px; box-sizing: border-box; border: 0px none; text-align: center;">
				<section style="margin:0; padding:0; box-sizing:border-box !important; display:inline-block;">
					<section style="border-top:20px solid transparent; border-bottom:20px solid transparent; border-right:40px solid #ffcaa6; float:left; height:0; width:0;">
						<section style="margin-top:-7px; border-top:7px solid transparent; border-bottom:7px solid transparent; border-right:15px solid #000; height:0; width:0;"></section>
					</section>
					<section style="color: rgb(255, 255, 255); margin-left: -1px; padding: 0px 30px; line-height: 40px; height: 40px; float: left; background-color: rgb(136, 191, 177);">
						请输入标题
					</section>
				</section>
			</section>
		</div>
	</body>

</html>